/Client/*.csproj
/Client/Library
/Client/AssetBundles
/Client/Build
/Client/Logs
/Client/Temp
/Client/*.vsconfig
/Client/obj
/Client/UserSettings
/Client/.vs
/Client/.vscode
/Client/.idea
/Client/*.sln
/Tools/DataEditor
/Tools/prop_editor
/Client/Assets/ByteResource
/Client/AssetBunldes
/Client/Recordings
/Client/HybridCLRData
/HotfixDlls
/HotfixDllsBackup
/Client/Assets/Artist
/Client/Assets/Artist.meta
/Export/ExportProjectAar
/skill_server.bat
/Export/Apk
/Client/Assets/Dlls
/Client/Assets/HybridCLRGenerate
/Client/Assets/StreamingAssets/bundle
/Client/Assets/StreamingAssets/bundle.meta
/Client/Assets/StreamingAssets/FileVersionList.ini
/Client/Assets/StreamingAssets/FileVersionList.ini.meta
/Client/Assets/StreamingAssets/ResVersion.ini
/Client/Assets/StreamingAssets/ResVersion.ini.meta
/Client/Client.sln.DotSettings.user
/Client/Assets/HybridCLRGenerate.meta
/Client/Assets/VIBPrefab
/Client/Assets/AnimationGUIDMap.meta
/Client/Assets/AnimationGUIDMap
/Client/MemoryCaptures
**/.DS_Store
/OfflineVideos
/Build
/Client/Assets/Resources/FileVersionList.txt
/Client/Assets/Resources/FileVersionList.txt.meta
/Client/Assets/Resources/ResVersion.txt
/Client/Assets/Resources/ResVersion.txt.meta
/Client/Assets/StreamingAssets/aa
/Client/Assets/StreamingAssets/pro
/Client/Assets/StreamingAssets/vib
/Client/Assets/StreamingAssets/*.meta
/Client/ServerData
/Client/Assets/AddressableAssetsData/Android
/Client/Assets/AddressableAssetsData/iOS
/Client/Assets/AddressableAssetsData/MiniGame
/Client/Assets/VIBStream
/Client/Assets/VIBStream.meta
Export/SDK/iOS/OneSDK_CN/SDK
/Client_clone_*/
