/Alpha/*.csproj
/Alpha/Library
/Alpha/AssetBundles
/Alpha/Build
/Alpha/Logs
/Alpha/Temp
/Alpha/*.vsconfig
/Alpha/obj
/Alpha/UserSettings
/Alpha/.vs
/Alpha/.vscode
/Alpha/.idea
/Alpha/*.sln
/Tools/DataEditor
/Tools/prop_editor
/Alpha/Assets/ByteResource
/Alpha/AssetBunldes
/Alpha/Recordings
/Alpha/HybridCLRData
/HotfixDlls
/HotfixDllsBackup
/Alpha/Assets/Artist
/Alpha/Assets/Artist.meta
/Export/ExportProjectAar
/skill_server.bat
/Export/Apk
/Alpha/Assets/Dlls
/Alpha/Assets/HybridCLRGenerate
/Alpha/Assets/StreamingAssets/bundle
/Alpha/Assets/StreamingAssets/bundle.meta
/Alpha/Assets/StreamingAssets/FileVersionList.ini
/Alpha/Assets/StreamingAssets/FileVersionList.ini.meta
/Alpha/Assets/StreamingAssets/ResVersion.ini
/Alpha/Assets/StreamingAssets/ResVersion.ini.meta
/Alpha/Client.sln.DotSettings.user
/Alpha/Assets/HybridCLRGenerate.meta
/Alpha/Assets/VIBPrefab
/Alpha/Assets/AnimationGUIDMap.meta
/Alpha/Assets/AnimationGUIDMap
/Alpha/MemoryCaptures
**/.DS_Store
/OfflineVideos
/Build
/Alpha/Assets/Resources/FileVersionList.txt
/Alpha/Assets/Resources/FileVersionList.txt.meta
/Alpha/Assets/Resources/ResVersion.txt
/Alpha/Assets/Resources/ResVersion.txt.meta
/Alpha/Assets/StreamingAssets/aa
/Alpha/Assets/StreamingAssets/pro
/Alpha/Assets/StreamingAssets/vib
/Alpha/Assets/StreamingAssets/*.meta
/Alpha/ServerData
/Alpha/Assets/AddressableAssetsData/Android
/Alpha/Assets/AddressableAssetsData/iOS
/Alpha/Assets/AddressableAssetsData/MiniGame
/Alpha/Assets/VIBStream
/Alpha/Assets/VIBStream.meta
Export/SDK/iOS/OneSDK_CN/SDK
/Client_clone_*/
